*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}
body{
    min-height: 100vh;
    background:url(../img/111.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffff;
    box-shadow: 0 5px 10px rgba(0, 0,0,.1);
    padding: 0px 7px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
  
}
header .logo {
    font-weight: bolder;
    font-size: 25px;
    color: #333;
}
header .navbar ul{
    list-style: none;
    

}
header .navbar ul li {
    position: relative;
    float: left;
}
header .navbar ul li a {
    font-size: 15px;
    padding: 20px;
    color: #333;
    display: block;
}
header .navbar ul li a:hover{
    background:#333;
    color: #ffff;
}
header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #ffff;
    display: none;
}
header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .1);
}
header .navbar ul li ul li ul {
    left: 200px;
    top: 0;
}
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: initial;
}

@media(max-width:991px) {
    header{
        padding: 20px;
    }
}
